<%= form_for(@who_i) do |f| %>
  <% if @who_i.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@who_i.errors.count, "error") %> prohibited this who_i from being saved:</h2>

      <ul>
      <% @who_i.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
